html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*html{*/
/*font-size:62.5%;*/
/*}*/
@font-face {
    src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2");
}

.containerinitial {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #e55c53;
}

.header {
    background-color: #313d38;
}

.nav {
    text-align: center;
    background-color: #313d38;
    /*background-color: #6d7d79;*/
}

.nav p {
    font-family: sans-serif;
    color: #ffff00;
    margin: 0 auto;
    width: 310px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 100px;
}

.nav h1 {
    font-family: sans-serif;
    color: #ffff00;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    width: 700px;
    /*270PX*/
    margin-top: 25px;
    margin-bottom: 45px
}

.header .logo img {
    heigth: 100px;
    width: 93px;
    margin: 25px;
}

.clearfix {
    clear: both;
}

.container {
    width: 100%;
    /*margin: 0 auto;*/
    padding-top: 50px;
    /*background-color: white;*/
    background-color: #6d7d79;
    /*clear: both;*/
    /*height: 300px;*/
}

.footer {
    height: 150px;
    background-color: #e55c53;
}

/*.clearfix{*/
/*clear:both;*/
/*}*/
/*.container:after{*/
/*clear:both;*/
/*}*/
.myform {
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 310px;
    float: left;
    /*background-color: #E3E3E3;*/
    display: inline-block;
    margin-bottom: 50px;
}

.statistics {
    width: 31.3%;
    display: inline-block;
    float: left;
    /*height: 310px;*/
    margin-left: 1%;
    margin-right: 1%;
    /*background-color: #E3E3E3;*/
    margin-bottom: 50px;
}

#map {
    width: 100%;
    /*width: 31.3%;*/
    /*display: inline-block;*/
    float: right;
    height: 310px;
    margin-left: 1%;
    margin-right: 1%;
    /*background-color: #E3E3E3;*/
    margin-bottom: 10px;
}

.submap {
    width: 31.3%;
    display: inline-block;
    float: right;
    height: 450px;
    margin-left: 1%;
    margin-right: 1%;
    /*background-color: #E3E3E3;*/
    margin-bottom: 50px;
}

#form-group-modified {
    margin-bottom: 10px;
}

.modifiedcss {
    width: 95%;
}

.mod {
    margin-left: 10px;
    margin-top: 10px;
}

/*.has-feedback label .form-control-feedback,*/
#spanmodified {
    top: 36px;
}

.myform form .form-group .form-control {
    widht: 50%;
}

.myform form .form-group input {
    widht: 100%;
}

.form-group input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.rating label {
    margin: 10px;
}

/*Stelutele pentru rating*/
.star {
    cursor: pointer;
}

.star.active {
    color: yellow;
}

.starsegment {
    margin: 10px;
}

#checkbox {
    margin-top: 10px;
}

#checkbox label {
    margin: 10px;
}

/*#helpBlock2{*/
/*display:inline-block;*/
/*}*/
#validinput {
    display: block;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

#btn {
    margin: 10px;
}

#btn input[type="submit"] {
    border: 0;
    text-decoration: none;
    background-color: #f2d50a;
    padding: 2px 15px;
    color: black;
    border-radius: 5px;
}

/*statistics*/
.table-bordered thead tr th span:before {
    content: "\25be";
    margin-left: -5px;
    padding-right: 5px;
}

#form label {
    font-weight: bold;
}

/*validari*/
#form .form-control-feedback {
    z-index: -2;
}

#validarebifa {
    z-index: 5;
}

/*.invalidrating {*/
/*display: none;*/
/*}*/
.invalidstarlabel {
    color: red;
}

.invalidname2 {
    display: none;
}

.invalidcity2 {
    display: none;
}

.invalid2 {
    display: none;
}

.invalid3 {
    color: red;
    display: block;
    margin-top: 8px;
}

/*end-validari*/

/*zona de filtrare*/
.filter li{
    margin-top:20px;
    margin-bottom:10px;
}
.filter li input[type=text]{
    width:250px;
    float:right;
    margin-right:10px;
    border-radius:5px;
    border:1px solid black;
    background-color:#e55c53;
}
/*.filter input[type=checkbox]{*/
    /*background-color:greee;*/
/*}*/
#searchweekend {

    width: 15px;
    height: 15px;
    position: relative;
    margin: 20px auto;
    margin-left:20px;
    background: #e55c53;
    /*background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
    border-radius: 50px;
    /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
&:after {
     content: '';
     width: 9px;
     height: 5px;
     position: absolute;
     top: 5px;
     left: 4px;
     border: 3px solid #fcfff4;
     border-top: none;
     border-right: none;
     background: #e55c53;
     opacity: 0;
     transform: rotate(-45deg);
 }
&:hover::after {
     opacity: 0.3;
 }
}

input[type=checkbox] {
    visibility: hidden;
&:checked + label:after {
     opacity: 1;
 }
}
}

/*.filter li input:nth-child(1)[type=text]{*/
    /*margin-left:4px;*/
/*}*/
/*end zona de filtrare*/

.statistics .table-bordered thead {
    background-color: #e5bb31;
}

.statistics .table-bordered thead tr {
    border-top: 1px solid #696969;
}

.statistics .table-bordered thead tr th {
    border: 1px solid #696969;
}

.statistics .table-bordered tbody tr:nth-child(2n+1) {
    background-color: #bdbdbd;
}

.statistics .table-bordered tbody tr:nth-child(2n) {
    background-color: #a8a8a8;
}

.statistics .table-bordered tbody tr td {
    border: 1px solid #696969;
}

/*formatareabutoanelor de remove si edit*/
tbody tr td a:nth-child(2) {
    margin-left: 25px;
}

.results {
    float: left;
}

.results li {
    display: block;
}

.results li label {
    display: inline-block;
}

.results li input {
    display: inline-block;
    margin: 5px;
}

.results li input[type=text] {
    width: 75px;
    border-radius: 5px;
    background-color: #e55c53;
    border: 1px solid #313d38;
    color: #313d38;
}

.results li label {
    color: Yellow;
    margin-left: 5px;
}

.tablefooter tr {
    /*border:1px solid #696969;*/
    background-color: #e5bb31;
    /*background-color: #a4af9f;*/
}

.credentials {
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.credentials p {
    margin: 10px;
    font-size: 15px;
}

.logofooter img {
    height: 45px;
    width: 46px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

#table .tablefooter tr td {
    border: 1px solid #696969;
}

/*#the-table tr:last-child .add-btn {*/
/*display: inline;*/
/*}*/

/*.results li{*/
/*display:inline;*/
/*}*/
/*.results input{*/
/*display:inline-block;*/
/*}*/
